.hero-img {
  background: url("../../assets/hero-img.jpg");
  width: 100%;
  height: 100dvh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
  gap: 500px;
}
.hero1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}
.hero-header {
  font-size: 5rem;
}
.hero1 > p {
  font-size: 2.5rem;
}
.hero2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 128px;
}
.hero2 > h3 {
  background-color: #fdfdfd;
  color: #595959;
  font-size: 2.5rem;
  padding: 16px;
  border-radius: 16px;
}
.cta2 {
  background-color: #000000;
  padding: 16px;
  font-size: 2.5rem;
  font-weight: 800;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}
