.city-input {
  /* width: 100%; */
  padding: 10px 16px;
  border-radius: 99px;
  border: 3px solid transparent;
  /* background: rgb(0, 0, 0, 0.15); */
  outline: none;
  font-weight: 500;
  padding-right: 45px;
}
.city-input::placeholder {
  color: rgb(255, 255, 255, 0.75);
}
.search-btn{
    /* position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%); */
    background: none;
    /* display: flex; */
    border: none;
    cursor: pointer;
    height: 100px;
    width: 200px;
}
