.footer-parent{
    margin-top: 32px;
    padding: 16px;
    background-color: #808080;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-list{
    list-style-type: none;
    a{
        text-decoration: none;
        color: #000000;
        font-size: 2rem;
    }
}
.footer-txt{
    font-size: 1.6rem;
}
